:root{
    --blue-shade-one: rgb(3, 126, 184);
    --blue-shade-two: rgb(104, 187, 226);
}

body{
    margin: 0px;
}

nav{
    background-color: var(--blue-shade-one);
    display: flex;
}

h1{
    margin: auto;
    color: white;
    height: 80px;
}

.title{
    display: flex;
    align-items: center;
    font-size: 2em;
    margin: 0px .5rem;
}

.nav-list{
    display: flex;
    list-style-type: none;
    color: white;
    margin-left: auto;
    margin-right: 2rem;
    font-size: 1.2em;
    align-items: center;
}

.nav-option{
    margin: 0 .6rem;
    border-radius: 10rem;
    padding: .3em 1em;
}

.nav-list .active{
    background-color:var(--blue-shade-two);
}

.containers{
    display: flex;
    margin: auto;
    font-size: 1.3em;
}

.container{
    border: solid 1px black;
    border-radius: 5px;
    margin: 2rem auto;
    width: 500px;
}

.container h3{
    display: flex;
    justify-content: center;
    margin: auto;
}

.container p{
    margin: .7rem;
}

button{
    cursor: pointer;
}

.create-room{
    display: flex;
    margin: 1rem auto;
    border: 0px;
    border-radius: 4px;
    background-color: var(--blue-shade-two);
    font-size: 1.1em;
    color: white;
    padding: .1em .6em;
}

.create-room:hover{
    background-color: var(--blue-shade-one);
}